html, body {
  height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
}

p {
    line-height: 2.5rem;
    font-size: 2rem;
}

h2 {
    margin: 1rem;
    font-weight: 700;
    font-size: 2.5rem;
    text-decoration: underline;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

div.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}